# Unity
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
UserSettings/
*.apk
*.unitypackage

# IDE
.vscode/
*.sln
*.csproj

# macOS
.DS_Store
unity-project/UserSettings/ci-keystore/
Builds/
unity-project/ProjectSettings/BurstAotSettings_Android.json
unity-project/ProjectSettings/CommonBurstAotSettings.json
unity-project/UserSettings/ci-keystore/
